body {
    background-color: rgb(121, 234, 234);
    font-family: Helvetica;
}

.Must-Watch-Movies {
    color: rgb(9, 122, 122);
    font-family:'Lucida Sans';

}

.intro {
    color: rgb(3, 48, 50);
    font-family:Helvetica;
    background-color: rgb(212, 254, 250);
    border-color: rgb(14, 43, 43);
    border-style: initial;
    border-width: 2px;
}

.Genres {
  font-family:'Lucida Sans';
   color: rgb(9, 122, 122);
   text-decoration:underline;
}

.Genre-description {
color: rgb(3, 48, 50);
    font-family:Helvetica;
    background-color: rgb(212, 254, 250);
    border-color: rgb(14, 43, 43);
    border-style: initial;
    border-width: 2px;
}

.Genre-list {
  color: rgb(3, 48, 50);
}

.sciencefiction-fantasy {
    color: rgb(9, 122, 122);
    font-family:'Lucida Sans';
}

